// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-pointer-cursor-for-buttons: true !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.375rem !default;
$input-btn-padding-x: 0.75rem !default;
$input-btn-font-family: null !default;
$input-btn-font-size: $font-size-base !default; // TODO - Include var
$input-btn-line-height: $line-height-base !default; // TODO - Include var

$input-btn-focus-width: 0.2rem !default;
$input-btn-focus-color: rgba($component-active-bg, 0.25) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-font-size-sm: $font-size-sm !default; // TODO - Include var
$input-btn-line-height-sm: $line-height-sm !default; // TODO - Include var

$input-btn-padding-y-lg: 0.5rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-font-size-lg: $font-size-lg !default; // TODO - Include var
$input-btn-line-height-lg: $line-height-lg !default; // TODO - Include var

$input-btn-border-width: $border-width !default; // TODO - Include var

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: $input-btn-padding-y !default;
$btn-padding-x: $input-btn-padding-x !default;
$btn-font-family: $input-btn-font-family !default;
$btn-font-size: $input-btn-font-size !default;
$btn-line-height: $input-btn-line-height !default;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm: $input-btn-padding-y-sm !default;
$btn-padding-x-sm: $input-btn-padding-x-sm !default;
$btn-font-size-sm: $input-btn-font-size-sm !default;
$btn-line-height-sm: $input-btn-line-height-sm !default;

$btn-padding-y-lg: $input-btn-padding-y-lg !default;
$btn-padding-x-lg: $input-btn-padding-x-lg !default;
$btn-font-size-lg: $input-btn-font-size-lg !default;
$btn-line-height-lg: $input-btn-line-height-lg !default;

$btn-border-width: $input-btn-border-width !default;

$btn-font-weight: $font-weight-normal !default; // TODO - Include var
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075) !default;
$btn-focus-width: $input-btn-focus-width !default;
$btn-focus-box-shadow: $input-btn-focus-box-shadow !default;
$btn-disabled-opacity: 0.65 !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, 0.125) !default;

$btn-link-disabled-color: $gray-600 !default;

$btn-block-spacing-y: 0.5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius !default; // TODO - Include var
$btn-border-radius-lg: $border-radius-lg !default; // TODO - Include var
$btn-border-radius-sm: $border-radius-sm !default; // TODO - Include var

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

// Bootstrap variables override
$btn-padding-y: 10px;
$btn-padding-x: 32px;
$btn-font-family: $font-family-secondary;
$btn-font-size: 14px;
$btn-line-height: 14px;

$btn-padding-y-sm: 7px;
$btn-padding-x-sm: 20px;
$btn-font-size-sm: 12px;
$btn-line-height-sm: 12px;

$btn-padding-y-lg: 15px;
$btn-padding-x-lg: 45px;
$btn-font-size-lg: 16px;
$btn-line-height-lg: 16px;

$btn-border-width: 1px;

$btn-border-radius: 8px;
$btn-border-radius-lg: 8px;
$btn-border-radius-sm: 8px;
