// Bootstrap variables override
$btn-padding-y:               10px;
$btn-padding-x:               32px;
$btn-font-family:             $font-family-primary;
$btn-font-size:               14px;
$btn-line-height:             14px;

$btn-padding-y-sm:            7px;
$btn-padding-x-sm:            20px;
$btn-font-size-sm:            12px;
$btn-line-height-sm:          12px;

$btn-padding-y-lg:            15px;
$btn-padding-x-lg:            45px;
$btn-font-size-lg:            16px;
$btn-line-height-lg:          16px;

$btn-border-width:            1px;

$btn-border-radius:           8px;
$btn-border-radius-lg:        8px;
$btn-border-radius-sm:        8px;
