// Font variables
//
// Styleguide 1.2
@font-face {
  font-display: swap;
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: normal;
  src: local("Avenir Next"),
    url("https://cdn.shopify.com/s/files/1/0021/4889/2732/files/AvenirNextLTPro-It.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0021/4889/2732/files/AvenirNextLTPro-It.woff2")
      format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.shopify.com/s/files/1/0021/4889/2732/files/AvenirNextLTPro-Bold.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0021/4889/2732/files/AvenirNextLTPro-Bold.woff")
      format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.shopify.com/s/files/1/0021/4889/2732/files/AvenirNextLTPro-Demi.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0021/4889/2732/files/AvenirNextLTPro-Demi.woff")
      format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: normal;
  src: url('https://cdn.shopify.com/s/files/1/0021/4889/2732/files/AvenirNextLTPro-Regular.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0021/4889/2732/files/AvenirNextLTPro-Regular.woff') format('woff');
}

// Font family variables
//
// Work in progress
//
// <b>$font-family-noto-serif</b>: 'Noto Serif JP', Arial, Helvetica, serif <br>
// <b>$font-family-avenir</b>: 'Avenir Next LT Pro', Arial, Helvetica, sans-serif <br>
// <b>$font-family-avenir-demi</b>: 'Avenir Next LT Pro Demi', Arial, Helvetica, sans-serif <br>
// <b>$font-family-font-awesome</b>: 'FontAwesome', Arial, Helvetica, sans-serif <br>
// <b>$font-family-simple_line_icons</b>: 'Simple-Line-Icons', Arial, Helvetica, sans-serif <br>
//
// Styleguide 1.2.2
$font-family-noto-serif: 'Noto Serif JP', Arial, Helvetica, serif;
$font-family-avenir: 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
$font-family-avenir-demi: 'Avenir Next LT Pro Demi', Arial, Helvetica, sans-serif;
$font-family-font-awesome: 'FontAwesome', Arial, Helvetica, sans-serif;
$font-family-simple_line_icons: 'Simple-Line-Icons', Arial, Helvetica, sans-serif;


// Font size variables
//
// Work in progress
//
// <b>$font-size-base</b>: 1rem <br>
// <b>$font-size-lg</b>: $font-size-base * 1.25 <br>
// <b>$font-size-sm</b>: $font-size-base * .875 <br>
//
// Styleguide 1.2.3
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;