// Font variables
//
// Styleguide 1.2

// Font family variables
//
// Font families are not loaded from the Component Library since different themes probably use different fonts.
// So, these variables are setted with a default value but they must be overridden in the Theme source code.
//
// <b>$font-family-primary</b>: 'Avenir Next LT Pro', Arial, Helvetica, sans-serif <br>
// <b>$font-family-secondary</b>: 'Avenir Next LT Pro Demi', Arial, Helvetica, sans-serif <br>
// <b>$font-family-tertiary</b>: 'Noto Serif JP', Arial, Helvetica, serif <br>
//
// Styleguide 1.2.2
$font-family-primary: 'Avenir Next LT Pro', Arial, Helvetica, sans-serif !default;
$font-family-secondary: 'Avenir Next LT Pro Demi', Arial, Helvetica, sans-serif !default;
$font-family-tertiary: 'Noto Serif JP', Arial, Helvetica, serif !default;

// Font size variables
//
// <b>$font-size-base</b>: 1rem <br>
// <b>$font-size-lg</b>: $font-size-base * 1.25 <br>
// <b>$font-size-sm</b>: $font-size-base * .875 <br>
//
// Styleguide 1.2.3
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;


// The following declarations just override the default Bootstrap variables
// but don't require to be documented in the Styeguide
$headings-font-family: $font-family-primary;
$font-family-base: $font-family-primary;
