// Labels
//
// Markup:
// <label>Color:</label><br>
// <label>Size:</label>
//
// Styleguide 2.4.1
label, .label {
  color: $gray-600;
  font-family: $font-family-primary;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0;
}

// Tag Selector
//
// Markup:
// <span class="tag-selector">All</span><span class="tag-selector active">Panties</span><span class="tag-selector">Shorts</span>
//
// Styleguide 2.4.2
.tag-selector {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  padding: 7px 20px;
  border: 1px solid $gray-200;
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;

  &.active {
    font-family: $font-family-secondary;
    border: 1.5px solid $theme-palette-shaperpink;
  }
}


// Free Gift label
//
// Markup:
// <span class="free-gift-label">Free gift</span>
//
// Styleguide 2.4.3
.free-gift-label {
  color: $white; 
  font-family: $font-family-secondary;
  font-size: 12px;
  text-transform: capitalize;
  background-color: $theme-palette-mint;
  padding: 4px 6px;
  border-radius: 4px;
  display: inline-block;

  &:before {
    font-family: $font_font-awesome;
    content: fa-content($fa-var-gift);
    margin-right: 5px;
  }
}
