@import './node_modules/bootstrap/scss/type';

// Headings
//
// All HTML headings.
//
// Markup:
// <h1>h1. Buying shapewear you love should never hurt</h1>
// <h2>h2. Buying shapewear you love should never hurt</h2>
// <h3>h3. Buying shapewear you love should never hurt</h3>
// <h4>h4. Buying shapewear you love should never hurt</h4>
//
// Styleguide 2.2.1
h1 {
  font-size: 2rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 2.1875rem;
  }
}

h2 {
  font-size: 2rem;
  font-family: $font-family-tertiary;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 2.1875rem;
  }
}

h3 {
  font-size: 1.5625rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.875rem;
  }
}

h4 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }
}

// Paragraph
//
//
// Markup:
// <p>Hello, body! Meet your new fave boyshort. Combine the functionality
// of regular underwear with the power of lightweight shapewear and you’ve got
//  yourself the Empetua™ Everyday Smoothing Boyshort. Now with more butt shaping! </p>
//
// Styleguide 2.2.2
p {
  font-family: $font-family-primary;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.125rem;
  }
}

// Links
//
// Markup:
// <a href="#">About Us</a>
//
// Styleguide 2.2.3
a {
  color: $theme-palette-shaperblack;
  font-family: $font-family-primary;
  font-size: 0.875rem;
  text-decoration: underline;

  @include media-breakpoint-up(sm) {
    font-size: 1.125rem;
  }
}

// Price labels
//
//
// Markup:
// <ins class="price">$29.99</ins><br>
// <del class="price--original">$39.99</del>
//
// Styleguide 2.2.4
.price {
  color: $danger;
  font-family: $font-family-primary;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0;

  @include media-breakpoint-up(sm) {
    font-size: 1.5625rem;
  }
}

.price--original {
  color: $theme-palette-shaperblack;
  font-family: $font-family-primary;
  font-size: 1.125rem;
  margin: 0;

  @include media-breakpoint-up(sm) {
    font-size: 1.5625rem;
  }
}

// Product options labels
//
//
// Markup:
// <label class="product-option-label">Color:</label>
//
// Styleguide 2.2.5
.product-option-label {
  color: $gray-600;
  font-family: $font-family-primary;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0;
}
