#kss-node .kss-title__permalink {
  font-size: 35px;
}

.kss-header {
  display: none;
}

.kss-nav__menu-item {
  margin-bottom: 0.75rem;
}

#kss-node .kss-sidebar {
  padding: 0 20px;
}

.fa, .fal, .fab {
  font-size: 30px;
  margin-right: 10px;
}