/*================ Mixins ================*/
@mixin loader-component {
  animation: lds-dual-ring .5s linear infinite;
  border: 1px solid $white;
  border-color: $white transparent;
  border-radius: 50%;
  content: ' ';
  display: inline-block;
  height: 15px;
  margin-left: 7px;
  width: 15px;
}